:root {
    /*Color Pallet*/
    --color-main-black: #000000; /*rgb(0,0,0)*/
    --color-main-green: #468902; /*rgb(70,137,2)*/
    --color-main-green-light: #b1de00; /*rgb(177,222,0)*/
    --color-main-grey: #628290; /*rgb(98,130,144)*/
    --color-main-blue: #133954; /*rgb(19,57,84)*/
    /*end*/
}

body {
    background-color: var(--color-main-blue);
}

.home-navigation__side--left {
    height: 100%;
    width: 100px;
    position: fixed; /*stays in the same place even if the page is scrolled*/
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-main-black);
    overflow-x: hidden; /*controls what happens to content that breaks outside of its bounds*/
    padding-top: 20px;
}

.home-navigation__side--left i {
    cursor: pointer;
    text-decoration: none;
    font-size: 300%;
    color: var(--color-main-green-light);
    display: block;
    padding-left: 28%;
}

.home-navigation__side--left i:hover {
    color: var(--color-main-green);
    font-size: 350%;
    padding-left: 25%; /*Slightly push back for smooth increase in size*/
}

.arrow-right__double {
    text-align: center;
}

.center-vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-logo__full img{
    width: 110%;
    height: 110%;
    -ms-transform: translateX(-6%);
    transform: translateX(-6%);
}
