
.Logo {
    width: 130px;
    height: 195px;
    position: relative;
    display: inline-block;
    margin: 50px;
}

.Logo .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.Logo:hover .img-top {
    display: inline;
}
